# Prerequisites
*.d

# User specific
CMakeLists.txt.user
compile_commands.json
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# PDB
*.pdb

# Executables
# Ignore everything
*

# But not these file types
!*.json
!*.svg
!*.txt
!*.md
!*.py
!*.sh



# Allow the results directory
!results/
!results/*.json
!results/*.svg
!results/*.txt
!results/*.md
!results/*.py
!results/*.sh
!results/*.yaml

# Ignore all other directories
/*/
!/*.json
!/*.svg
!/*.txt
!/*.md
!/*.py
!/*.sh
!/*.yaml

compile_commands.json